.container {
    max-width: 1320px;
}
header {
    width: 100%;
}
header .container {
    background: linear-gradient(90deg, transparent, transparent);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, .4);
    box-shadow: 0 4px 30px #0000001a;
}
header.no_radius .container {
    border-radius: 40px 40px 0 0;
}